{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title.label'|trans }}{% endblock %}

{% block body %}
    <h1>
        {{ 'home.title.label'|trans }}
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, magni?</div>
            </div>
            <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores incidunt nemo, praesentium quidem sint?</div>
        </div>
    </div>
{% endblock %}
