{% extends 'base.html.twig' %}

{% block title %}Hello ManualTagController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ tag.name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
