{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% dump %}
    {{ dump(tag) }}
 <div class="container">
     <div class="row">
         <div class="col-12">
             <h1>{{ tag.name }}</h1>
         </div>
         <div class="col-12">
hello
         </div>
     </div>
 </div>
{% endblock %}
